<div class="row">
        <div class="col-12" *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
        <div class="col-12" *ngIf="successMessage">
          <div class="alert alert-success" role="alert">{{successMessage}}</div>
      </div>

    
      <div class="offset-4 col-4">
        <h3>Reset password</h3>
        <div class="mb-3">
            <label for="reset_token" class="form-label">Reset Token</label>
            <input type="reset_token" class="form-control" id="reset_token" 
                   [(ngModel)]="reset_token"
                   placeholder="Your token from the mailbox" required>
          </div>
          <div class="mb-2">
            <label for="new_password" class="form-label">New Password</label>
            <input type="new_password" class="form-control" id="new_password"
                    [(ngModel)]="new_password" 
                    required 
            
            >
          </div>
       
        <button type="button" class="btn btn-outline-primary mb-3"
                  (click)="resetPassword()"
                  [disabled]="!reset_token || !new_password"
        >
        Reset <i class="fa fa-key" aria-hidden="true"></i>
        </button>
  
  </div>
 
</div>
<div class="col-1 back-link">
  <a routerLink="/login" class="primary-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
</div>
