<div class="card">
    <h5 class="card-header">My Work</h5>
    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">To Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Done</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overdue</a>
        </li>
      </ul>
      <div>
        <ul>
          <li *ngFor="let task of tasks">{{task.context}} ({{task.dueDate}}) -- {{task.board}}</li>
        </ul>
    </div>
    
    </div>
  </div>