<div class="card" >
    <div class="card-body task-card">

      <div class="task-board">
        {{task.boardId}}
      </div>

      <div class="task-container">
        <div class="task-content">
          <a href="#" class="card-link">{{task.text}}</a>
        </div>
        <!-- <div class="task-btns-group"> -->
          <!-- <div class="task-complete-button">
            <button type="button" class="btn btn-success">Complete</button>
          </div> -->
          <div class="task-delete-button">
            <button type="button" class="btn btn-danger" (click)="onDeleteTask(task.id)">Delete</button>
          </div>
        <!-- </div> -->
        
      </div>

      <div class="task-due">
        Due {{task.dueDate}}
      </div>

    </div>
  </div>