<div class="card mb-2">
    <div class="card-body member-card">
      <div class="member-status">
        {{currentBoardCreatorId == currentMemberId? 'Owner':'Member'}}
      </div>
      <div class="member-container">
        <div class="member-info">
          <a href="#" class="card-link"> {{member.firstName}} {{member.lastName}}</a>
        </div>
          <div *ngIf="isUserCreator && currentBoardCreatorId != currentMemberId" class="member-delete-button">
            <button type="button" 
            class="btn btn-danger"
            (click)="delete(member)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
      </div>
      <div class="member-email">
        {{member.email}}
      </div>
    </div>
  </div>