<!-- <div class="card" >
    <div class="card-body task-card">

      <div class="task-board">
        {{task.board.name}}
        
      </div>

      <div class="task-container">
        <div class="task-content">
          <a href="#" class="card-link">{{task.text}}</a>
        </div>
        <div class="task-btns-group"> 
           <div class="task-complete-button">
            <button type="button" class="btn btn-success">Complete</button>
          </div>
          <div class="task-delete-button">
            <button type="button" class="btn btn-danger" (click)="onDeleteTask(task.id)">Delete</button>
          </div>
         </div>
        
      </div>

      <div class="task-due">
        Due {{taskDate}}
      </div>

    </div>
  </div> -->







  <div class="card mb-2">
    <div class="card-body task-card">
      <div class="task-board">
         {{task.board.name}}
      </div>
      <div class="task-container">
        <div class="task-content">
          <a href="#" class="card-link">{{task.text}}</a>
        </div>
          <div class="task-delete-button">
            <button type="button" class="btn btn-success me-2"><i class="fa fa-check" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger" (click)="delete(task)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
      </div>
      <div class="task-due">
        Due {{taskDate}}
      </div>
    </div>
  </div>