  <div class="card mb-2"
        [ngStyle]="{'background-color': task.isCompleted? '#ecffd4' : '#fbfcb8'}">
    <div class="card-body task-card">
      <div class="task-board">
         {{task.board.name}} {{task.isCompleted? '(Done)' : '(ToDo)'}}
      </div>
      <div class="task-container">
        <div class="task-content">

          <ng-template [ngIf]="currentUserId == taskCreatorId 
                              || currentUserId == performerId"
                       [ngIfElse]="notAllowedToPerform">

            <button *ngIf="task.isCompleted == false" 
                    type="button" 
                    class="btn btn-completion-status btn-complete me-2" 
                    (click)="complete(task)"
                    data-bs-toggle="tooltip" title="Complete task">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>

            <button *ngIf="task.isCompleted == true" 
                    type="button" 
                    class="btn btn-completion-status btn-mark-todo me-2" 
                    (click)="markAsToDo(task)"
                    data-bs-toggle="tooltip" title="Mark task as ToDo">
             <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
          </ng-template>
          <ng-template #notAllowedToPerform>
            <button type="button" class="btn disabled me-2">
              <i class="fa fa-lock " aria-hidden="true"></i>
            </button>
            
          </ng-template>
          <a href="#" class="card-link">{{task.text}}</a>
        </div>


        <ng-template  [ngIf]="taskCreatorId == currentUserId" [ngIfElse]="userNotTaskCreator">
        <form #updatePerformerForm="ngForm"  >
          <select aria-placeholder="task.performer" 
                  (change)="updatePerformer();" 
                  class="performer-box form-control text-muted" id="performer{{boardId}}{{task.id}}" name="performer{{boardId}}{{task.id}}" 
                  [(ngModel)]="performerId" required>
            <option  [ngValue]="null" selected hidden>Select performer</option>
            <option  *ngFor="let performer of boardMembers" [ngValue]="performer.id">{{performer.firstName}} {{performer.lastName}}</option>
          </select>
          </form>
        </ng-template>
        <ng-template #userNotTaskCreator>
          <div class="performer-box form-control">
            {{taskPerformerInfo}}
          </div>
          
        </ng-template>

          <div class="task-delete-button">

            <button type="button" 
                    class="btn btn-delete" 
                    (click)="delete(task)"
                    data-bs-toggle="tooltip" title="Delete task">

              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

          </div>
      </div>
      <div class="task-due">
        Due {{taskDate}}
      </div>
    </div>
  </div>