  <div class="card mb-2"
        [ngStyle]="{'background-color': taskBgColor}">
    <div class="card-body task-card">
      <div class="task-board">
         {{task.board.name}} {{taskStatus}}
      </div>
        <div class="task-content">

          <ng-template [ngIf]="currentUserId == taskCreatorId 
                              || currentUserId == performerId"
                       [ngIfElse]="notAllowedToPerform">

            <button *ngIf="task.isCompleted == false" 
                    type="button" 
                    class="btn btn-completion-status btn-complete me-2" 
                    (click)="complete(task)"
                    ngbTooltip="Complete task" placement="bottom-left">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>

            <button *ngIf="task.isCompleted == true" 
                    type="button" 
                    class="btn btn-completion-status btn-mark-todo me-2" 
                    (click)="markAsToDo(task)"
                    ngbTooltip="Mark task as ToDo" placement="bottom-left">
             <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
          </ng-template>
          <ng-template #notAllowedToPerform>
            <button type="button" class="btn disabled me-2">
              <i class="fa fa-lock " aria-hidden="true"></i>
            </button>
            
          </ng-template>
          <!-- <a href="#" class="card-link">{{task.text}}</a> -->
          <div class="task-text">{{task.text}}</div>
        </div>

        <div class="performer-marker">
          Performer:
        </div>
        <ng-template  [ngIf]="taskCreatorId == currentUserId" [ngIfElse]="userNotTaskCreator">
        <form #updatePerformerForm="ngForm"  class="task-performer">
          <select aria-placeholder="task.performer" 
                  (change)="updatePerformer();" 
                  class=" form-control performer-box text-muted" id="performer{{boardId}}{{task.id}}" name="performer{{boardId}}{{task.id}}" 
                  [(ngModel)]="performerId" required>
            <option  [ngValue]="null" selected hidden>Select performer</option>
            <option  *ngFor="let performer of boardMembers" 
                      [ngValue]="performer.id">
                      
                      {{performer.firstName}} {{performer.lastName}}</option>
          </select>
          </form>
        </ng-template>
        <ng-template #userNotTaskCreator>
          <!-- form-control -->
          <div class="task-performer  inactive-performer-info">
            {{taskPerformerInfo}}
          </div>
          
        </ng-template>

          <div *ngIf="taskCreatorId == currentUserId" class="task-delete-button">
            <button 
                    type="button" 
                    class="btn btn-delete" 
                    (click)="delete(task)"
                    ngbTooltip="Delete task" placement="left">

              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

          </div>
      <div class="task-due">
        Due {{taskDueDate}}
        <!-- placeholder="Due  {{taskDate}}" -->
        <ng-template [ngIf]="taskCreatorId == currentUserId">
          <input 
                  name="taskDueDate" 
                  [minDate]="minDate"
                  [(ngModel)]="newTaskDueDate"
                  ngbDatepicker 
                  #changeDueDate="ngbDatepicker"
                  (dateSelect)="updateTaskDueDate()"
                   />

              <button type="button" 
                      class="btn btn-sm" 
                      (click)="changeDueDate.toggle()"
                      ngbTooltip="Reschedule task" placement="right"
                      >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
        </ng-template>
          
      </div>
    </div>
  </div>