<div class="changer-body" #changerBody>
<div class="switch" #switch>
    <div class="switch-radios">
        <input type="radio" name="theme-type" value="one" id="theme1" (change)="changeToFirstTheme()">
        <input type="radio" name="theme-type" value="two" id="theme2" (change)="changeToSecondTheme()">
        <input type="radio" name="theme-type" value="three" id="theme3" (change)="changeToThirdTheme()">
    </div>
    <div class="switch-fas">
        <i class = "fas fa-moon"></i>
        <i class = "fas fa-snowflake"></i>
        <i class = "fas fa-star"></i>
        <!-- fa-sun fa-meteor  -->
    </div>
    <div class="ball" #ball></div>
</div>
</div>