

.card {
    border: none;
}

.nav-item > * {
    border: none;
}

.nav-link  {
    border: none;
    color: #ada7a6;
}

.nav-link.active  {
    font-weight: bolder;
    color: #ada7a6;
}




/*scrollbars*/

.scrollbar-area-card{
    height: 250px;
    overflow-y: scroll;
}

::-webkit-scrollbar-track { 
    background: none;
  }

  /* Handle */
   ::-webkit-scrollbar-thumb { 
    box-shadow: inset 0 0 5px #7B7777;
    background: white; 
    border-radius: 0px;
  }

