  <div class="row" *ngIf="currentUser">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <!--User's boards-->
      <div class="body">
        <div class="card">
          <div class="st-heading">
            <h6>{{currentUser.firstName}}'s boards</h6>
          </div>
          
          <div class="card-body scrollbar-area-card">
            <div *ngIf="showBoards; else noBoards">
              <ul class="list-group list-group-flush mb-2">
                <li class="list-group-item" >
                  
                    <app-board
                    *ngFor="let board of boards"
                    [board]="board"
                    (leaveBoard)="onLeaveBoard($event)"
                    (deleteBoard)="onDeleteBoard($event)"></app-board> 
                
                </li>
              </ul>
            </div>
            </div>
            
            <ng-template #noBoards>
              <div class="no-items">
                Currently you have no boards.
              </div>
            </ng-template>

          <app-add-new-board-modal
                (boardCreate)="onCreateBoard($event)">
                </app-add-new-board-modal>
        </div>

      </div>
      <!--User's boards finished-->

    </div>
    <div class="pe-3 col-sm-6 mb-3 mb-sm-0">
      <!--Today's tasks-->
      <div class="body">
        <div class="card ">
          <div class="st-heading">
            <h6>Tasks For Today</h6>
          </div>
          
          <div class="card-body scrollbar-area-card">

            <div class="card" *ngFor="let task of tasks">
                <app-task 
                  *ngIf="isToday(task.dueDate)"
                  (addTaskRecurrence)="onAddTaskRecurrence($event)"
                  (deleteTask)="onDeleteTask($event)"
                  [task]="task"></app-task>
            </div>

            <div *ngIf="noTodaysTasks" class="no-items">
                You have no tasks for today.
            </div>


          </div>

          <app-add-new-task-modal 
                [buttonDisabled]="!showBoards"
                (taskCreate)="onCreateTask($event)"
                [boards]="boards">
              </app-add-new-task-modal>
        </div>

      </div>
      <!--Today's tasks finished-->

    </div>
  <div class="row">
    <div class="col-sm-12 mt-3 body">
      <!--All tasks-->

      <div class="card my-work-container">
        <div class="st-heading">
          <h6>My Work</h6>
        </div>



        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-todo-tab" data-bs-toggle="tab" href="#nav-todo" role="tab" aria-controls="nav-todo" aria-selected="true">To Do</a>
            <a class="nav-link" id="nav-done-tab" data-bs-toggle="tab" href="#nav-done" role="tab" aria-controls="nav-done" aria-selected="false">Done</a>
            <a class="nav-link" id="nav-overdue-tab" data-bs-toggle="tab" href="#nav-overdue" role="tab" aria-controls="nav-overdue" aria-selected="false">Overdue</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-todo" role="tabpanel" aria-labelledby="nav-todo-tab">
            <div class="card" *ngFor="let task of tasks">
              <app-task 
                *ngIf="task.isCompleted == false && task.isOverdue != true"
                (addTaskRecurrence)="onAddTaskRecurrence($event)"
                [task]="task"
                (deleteTask)="onDeleteTask($event)"></app-task>
         
            </div>
            <div *ngIf="noTodoTasks" class="card no-items">
              Noting To Do...
          </div>
          </div>
          <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
            <div class="card" *ngFor="let task of tasks">
              <app-task 
                *ngIf="task.isCompleted == true"
                (addTaskRecurrence)="onAddTaskRecurrence($event)"
                [task]="task"
                (deleteTask)="onDeleteTask($event)"></app-task>
            </div>

            <div *ngIf="noDoneTasks" class="card no-items">
              Seems that you do not have completed tasks.
          </div>
          </div>
          <div class="tab-pane fade" id="nav-overdue" role="tabpanel" aria-labelledby="nav-overdue-tab">
            <div class="card" *ngFor="let task of tasks">
            <app-task 
                *ngIf="task.isOverdue == true"
                (addTaskRecurrence)="onAddTaskRecurrence($event)"
                [task]="task"
                (deleteTask)="onDeleteTask($event)"></app-task>
              </div>

              <div *ngIf="noOverdueTasks" class="card no-items">
                No overdue tasks.
            </div>
          </div>
        </div>


      </div>

      <!--All tasks finished-->
    </div>

  </div>
  </div>