/*Add new styled button*/
.add-new-btn{
    background-color: #7b7777;
    border: none;
    border-radius: 20px;
    color: #f2f0f0;
}

/*restyling modal*/
.modal-btn {
    border: none;
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}
