.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 3px;
    margin-bottom: 20px;
}

.board-delete-button {
    position: absolute;
    right: 10px;
}