<div class="board-container">
    <div class="board-content">
        <a [routerLink]="['board-details', board.id]" class="card-link">{{board.name}}</a>
    </div>

    <ng-template [ngIf]="!isCreator" [ngIfElse]="boardDeleteSection">
      <div class="leave-board-button" >
        <button type="button" 
        class="btn leave-button"
        data-bs-toggle="modal" attr.data-bs-target="#leaveBoardConfirmationModal{{currentUserId}}:{{board.id}}"
        ngbTooltip="Leave board" placement="left"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
      </div>
    </ng-template>
    

      <ng-template #boardDeleteSection>
         <!-- Button trigger board delete modal -->
        <div class="board-delete-button"  >
            <button type="button" 
                    class="btn delete-button" 
                    data-bs-toggle="modal" attr.data-bs-target="#deleteBoardConfirmationModal{{board.id}}"
                    ngbTooltip="Delete board" placement="left">
            <i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </ng-template>
    
  
  
  <!-- (board delete) Modal -->
  
  <div class="modal fade" id="deleteBoardConfirmationModal{{board.id}}" tabindex="-1" aria-labelledby="deleteBoardConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="deleteBoardConfirmationModalLabel">
            Are you sure you want to delete board "{{board.name}}"?
        </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <b class="text-danger">This action is irreversible. </b>
          <p>All board's tasks will be deleted as well.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn cancel-btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn modal-btn  btn-danger" (click)="delete(board)" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>


  <!-- (leave board) Modal -->
  
  <div class="modal fade" id="leaveBoardConfirmationModal{{currentUserId}}:{{board.id}}" tabindex="-1" aria-labelledby="leaveBoardConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="leaveBoardConfirmationModalLabel">
            Are you sure you want to leave board "{{board.name}}"?
        </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <b class="text-danger">You will not be able to join it unless you are invited again. </b>
          <p>
            All board's tasks will not be visible for you as well.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn cancel-btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn modal-btn  btn-danger" (click)="leave(currentUserId, boardId)" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

