<!-- <p *ngFor="let task of board.tasks">
    {{task.text}}
</p> -->

<div class="board-container">
    <div class="board-content">
        <a [routerLink]="['board-details', board.id]" class="card-link">{{board.name}}</a>
    </div>





   <!-- Button trigger modal -->
    <div class="board-delete-button">
        
        <button type="button" 
                class="btn first btn-danger" 
                
                data-bs-toggle="modal" data-bs-target="#deleteBoardConfirmationModal"
                >
        <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="deleteBoardConfirmationModal" tabindex="-1" aria-labelledby="deleteBoardConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="deleteBoardConfirmationModalLabel">
            Are you sure you want to delete board "{{board.name}}"?
        </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <b class="text-danger">This action is irreversible. </b>
          All board's tasks will be deleted as well.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn modal-btn btn-danger" (click)="delete(board)" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>










    
</div>

