.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 3px;
    margin-bottom: 20px;
}

.board-delete-button {
    position: absolute;
    right: 12px;
}

.leave-board-button {
    position: absolute;
    right: 10px;
}

/* .leave-button:hover {
    color: var(--leave-icon-color);
}

.leave-button:focus {
    border:none;
}


.delete-button:focus{
    border:none;
}


.delete-button:hover {
    color: var(--delete-icon-color);
} */


.card-link {
    color: black;
    text-decoration: underline;
    font-weight: 450;
    margin-left: 20px;
}

/*restyling modal*/
.modal-btn {
    border-radius: 0;
    border: none;
}

.modal-content {
    border-radius: 0;
}

