
<ng-container *ngIf="!showProcessSuccessMessage && !showProcessLoadingMessage">

  <div class="row">
    <div class="col-12" *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
    </div>

    
      <div class="offset-4 col-4">
        <h3>Forgot password</h3>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" 
                 [(ngModel)]="email"
                 placeholder="name@domain.com" required>
        </div>
       
        <button type="button" class="btn btn-outline-primary mb-3"
                  (click)="forgotPassword()"
                  [disabled]="!email"
        >
        Send reset token <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </button>
  
        </div>
</div>

<div class="col-2 back-link">
  <a routerLink="/login" class="primary-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
</div>

<div class="col-2 have-token-link">
  <a routerLink="/reset-password" class="primary-link">Already have token? <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
</div>

</ng-container>

<ng-container *ngIf="showProcessLoadingMessage">
  <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="showProcessSuccessMessage">
  <div class="process-status-container" >
    <div class="process-status-message">
      <h1>Email Successfully Sent</h1>
      <p>Please, check your mailbox to proceed and Reset your Password.</p>
    </div>
    <div class="col-2 back-link">
        <a routerLink="/login" class="primary-link"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Login</a>
      </div>
      <div class="col-2 have-token-link">
        <a routerLink="/reset-password" class="primary-link">Copied token <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      </div>
</div>
</ng-container>