.no-new-notifications{
    text-align: center;
}

.heading {
    display: grid;
    grid-template-columns: [first] 7fr [divide] 1fr[end];
    grid-template-rows: [row-start ] 1fr [row-end];
    justify-items: start; 
    align-items: start;

    margin-bottom: 20px;
}

.heading-text{
    grid-column-start: first;
    grid-column-end: divide;
    grid-row-start: row-start;
    grid-row-end: row-end;
}

.clear-button{
    grid-column-start: dividet;
    grid-column-end: end;
    grid-row-start: row-start;
    grid-row-end: row-end;

    justify-self: end;
}


