#toggle-members {
    color: var(--primary-color);
    width: 12px;
    height: 12px;
}

#toggle-members:hover {
    color: var(--primary-color-hover);
}

.board-details-container{
    width: 100%;
    height: 400px;
    position: relative;
}


.board-details-heading{
    border-top: 5px solid black;
    background-color: #cec7c7;
    padding-top: 2px;
    padding-bottom: 0.5px;
}

.board-details-heading > *{
    margin-left: 10vw;
    color: white;
}

.board-members-heading{
    padding-bottom: 0.5px;
    margin-left: 2vw;
}

.board-members{
    width: 380px;
    margin-right: 25px;
    height: 63.5vh;

    position: relative;
    background-color: var(--st-members-bg);
    box-shadow: 0 1vh 0 0 var(--st-members-shadow);

    grid-column-start: col-start;
    grid-column-end: col-mid;
}

.board-members-content{
    width: 400px;
    overflow-y: hidden;
    height: 55vh;
}

.board-members-content:hover{
    overflow-y: scroll;
}

.add-new-member-btn{
    position: absolute;
    right: 2vw;
    bottom: 0.8vw;
}

.page-content{
    height: inherit;
    display: grid;
    grid-template-columns: [col-start]  1fr [col-mid] 1fr [col-end]; 
    grid-template-rows: [row-start] 1fr [row-mid] 23fr [row-end];

}

.board-members-heading{
    grid-column-start: col-start;
    grid-column-end: col-mid;
    grid-row-start: row-start;
    grid-row-end: row-mid;
    justify-self: start;
}

.add-new-task-btn-container{
    grid-column-start: col-mid;
    grid-column-end: col-end;
    grid-row-start: row-start;
    grid-row-end: row-mid;
    justify-self: end;
}

.logical-content{
    grid-column-start: col-start;
    grid-column-end: col-end;
    grid-row-start: row-mid;
    grid-row-end: row-end;

    height: inherit;
    display: grid;
    justify-items: stretch;
    grid-template-columns: [col-start]  1fr [col-mid] 3fr [col-end]; 

    align-items: flex-start;
}

.group-by-input {

    grid-column-start: col-start;
    grid-column-end: col-mid;
    grid-row-start: row-start;
    grid-row-end: row-mid;

    justify-self: end;

    font-size: small;
    color: var(--primary-color)
}

.my-tasks {

    grid-column-start: col-mid;
    grid-column-end: col-end;
    grid-row-start: row-start;
    grid-row-end: row-mid;

    justify-self: start;
    align-self: baseline;

    font-size: small;
    color: var(--primary-color);

    margin-left: 50px;
}

.group-by-input p {
    white-space: nowrap;
}

.group-by-input {
    display: flex;
    align-items: baseline;
}

.group-by-input >.input-group {
    height: 25px;
}

.group-by-input > .input-group .group-by-btn {
    padding-right: 7px;
    padding-left: 7px;
}

.task {
    margin-right: 10px;
    margin-top: 0px;
  } 
  
  /* .task:nth-child(odd) {
    grid-column: 1; 
  } */

.group-heading {
    margin-left: 30px;
}


.regroup-btn{
    margin-right: -15px;
    color: lightgray;
}

.regroup-btn:hover, .regroup-btn:active{
    margin-right: -15px;
    color: var(--primary-color);
}


  .task-groups {
    grid-column-start: col-mid;
    grid-column-end: col-end;

    display: grid;
    align-items: start;
  }


  .task-group{
    width: inherit;
    display: grid;
  }


/* cards */

.card{
    border: none;
    border-radius: 12px;
    box-shadow: -2px 0 1px 0 #a49f9f; /* shadow to the left */
}

.card-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

/* for each member*/
.task-board {
    color: grey;
    font-size: smaller;
}

.task-due{
    color: grey;
    font-size: smaller;
}

.task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.task-delete-button {
    position: absolute;
    right: 10px;
        
}

.board-delete-button {
    position: absolute;
    right: 10px;
    top: 3px;
}

 .btn-delete{
    border:none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track { 
    background: none;
  }

  /* Handle */
   ::-webkit-scrollbar-thumb { 
    box-shadow: inset 0 0 5px #7B7777;
    background: white; 
    border-radius: 0px;
  }

  .scrollbar-area-card{
    width: 370px;
  }