<div class="board-details-container">
    <div class="st-heading">
        <h5>{{currentBoardName}}</h5>

        <!-- DELETE BOARD Button trigger modal -->
    <div class="board-delete-button" *ngIf="isCreator == true">
    
        
        <button type="button" 
                class="btn delete-button btn-delete" 
                data-bs-toggle="modal" attr.data-bs-target="#deleteBoardConfirmationModal{{boardId}}"
                ngbTooltip="Delete board" placement="bottom-right">
        <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>

  

    </div>


    <div class="mt-sm-3 ps-sm-3 page-content">



            <div class="board-members-heading">
                <h6 class="pt-2 pb-1">Board Members <button id="toggle-members" (click)="toggleMembers()"><i [ngClass]="toggleMembersIcon" aria-hidden="true"></i></button></h6>
            </div>

            <div class="group-by-input ms-2">
                <p><button class="regroup-btn" ngbTooltip="Regroup" (click)="groupTasks()"><i class="fa fa-refresh" aria-hidden="true"></i></button>  Group by: </p>
            <div class="input-group mt-3">
               
                <button [ngClass]="groupByPerformerBtnClass"  class="group-by-btn ms-2" (click)="toggleGroupByPerformer()">
                    Performer
                </button>
                <button [ngClass]="groupByCompletedBtnClass"  class="group-by-btn" (click)="toggleGroupByCompleted()">
                    Status
                </button>
            </div>

            
        </div>

        <div class="my-tasks  mt-3">
            <p><button [ngClass]="showMyTasksBtnClass" class="group-by-btn" ngbTooltip="Show only my tasks" (click)="toggleMyTasks()">My tasks <i class="fa fa-user-circle-o" aria-hidden="true"></i></button></p>
        </div>
        
            

            <div class="add-new-task-btn-container p-2">
                <app-add-new-task-from-board-modal 
                [boardId]="boardId"
                (taskFromBoardCreate)="onCreateTask($event)"
                >
                </app-add-new-task-from-board-modal>
            </div>

        <div class="logical-content" >

        <div class="board-members" *ngIf="isMembersListVisible == true">
            
            <div  class="board-members-content st-content">
                
                <div class="scrollbar-area-card">
                    <app-member 
                    *ngFor="let member of boardMembers" 
                    [member]="member"
                    [board]="currentBoard"
                    [isCreator]="isCreator"
                    (deleteMember)="onDeleteMember($event)"
                    (leaveBoard)="onLeaveBoard($event)" ></app-member>
                </div>

                <button type="button" 
                    class="add-new-btn add-new-member-btn"
                    *ngIf="isCreator"
                    data-bs-toggle="modal" 
                    data-bs-target="#addNewMemberModal">
                    Add new+
                </button>

                <div class="modal fade" id="addNewMemberModal" tabindex="-1" aria-labelledby="addNewMemberModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addNewMemberModal">Add new member</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form #addBoardMemberForm="ngForm" (ngSubmit)="addBoardMember(addBoardMemberForm.value); addBoardMemberForm.resetForm(); ">

                                <div class="form-group">
                                <i 
                                class="mb-3 mt-3 text-danger"
                                *ngIf="showModalErrorToast" 
                                >
                                {{modalErrorToastText}}
                            </i>

                                <div class="input-group">
                                    <input type="text" class="form-control" type="search" list="searchOptions" [(ngModel)]="searchedEmail" placeholder="Search" (keyup)="loadSearchOptions()" name="email"/>
                                    
                                    <datalist id="searchOptions" >
                                        <option *ngFor="let option of searchOptions" >{{option}}</option>

                                    </datalist>
                                        <button class="calendar-search-btn confirm-btn">
                                            <span class="fa fa-search"></span>
                                        </button>
                                </div>
                                
                                
                               
                                </div>
                
          
                                <div class="modal-footer">
                                    <button type="button" class="modal-btn cancel-btn " data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="modal-btn confirm-btn " 
                                    [disabled]="addBoardMemberForm.invalid"
                                   >Add</button>
                                </div> 
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>

        <!-- &&!showMyTasks -->
        <div class="tasks"  [ngStyle]="getTasksStyle" *ngIf="!showTasksGroupedByCompleted && !showTasksGroupedByPerformer ">
            <div  class="tasks-container" [ngStyle]="getTasksColumnStyle">
                <app-task 
                (addTaskRecurrence)="onAddTaskRecurrence($event)"
                *ngFor="let task of tasks" 
                [task]="task"
                (deleteTask)="onDeleteTask($event)"
                ></app-task>
            </div>

            <div *ngIf="noBoardTasks" class="no-items">
                No tasks at this board. Be the first to add one!
            </div>

        </div>

 
        <div class="tasks task-groups by-completed" [ngStyle]="getTasksStyle" *ngIf="showTasksGroupedByCompleted">
            <div   *ngFor="let group of taskGroupsByCompleted" class="task-group tasks-container">
                <div>
                    <h6 class="group-heading">{{group.groupKey == true? 'Done' : 'ToDo'}} 
                        <button id="toggle-members" (click)="toggleDataGroupedByCompleted(group.groupKey)"><i [ngClass]="tasksGroupedByCompletedVisibility[group.groupKey]?  'fa fa-minus-square': 'fa fa-plus-square'" aria-hidden="true"></i></button>
                    </h6>
                </div>
                <div *ngIf="tasksGroupedByCompletedVisibility[group.groupKey]">
                    <app-task *ngFor="let task of group.tasks"
                            (addTaskRecurrence)="onAddTaskRecurrenceForGroupedByCompleted($event)"
                            class="grouped-task"
                            [task]="task"
                            (deleteTask)="onDeleteTask($event)">
                </app-task>
                </div>
                
            </div>
        </div> 

        <div class="tasks task-groups  by-performer " [ngStyle]="getTasksStyle" *ngIf="showTasksGroupedByPerformer">   
            <div   *ngFor="let group of taskGroupsByPerformer"  class="task-group">
                    <div>
                        <h6  class="group-heading">{{group.groupKey == null? 'Performer not selected' : group.groupKey?.firstName + " " + group.groupKey?.lastName  }}
                            <button id="toggle-members" (click)="toggleDataGroupedByPerformer(group.groupKey)"><i [ngClass]="tasksGroupedByPerformerVisibility[group.groupKey?.id || 'no_performer']?  'fa fa-minus-square': 'fa fa-plus-square'" aria-hidden="true"></i></button>
                        </h6>
                    </div>
                    <div [ngStyle]="getTasksColumnStyle" *ngIf="tasksGroupedByPerformerVisibility[group.groupKey?.id || 'no_performer']">
                    <app-task *ngFor="let task of group.tasks"
                                (addTaskRecurrence)="onAddTaskRecurrenceForGroupedByPerformer($event)"
                                class="grouped-task"
                                [task]="task"
                                (deleteTask)="onDeleteTask($event)">
                    </app-task>
                </div>
                </div>
        </div>
    </div>
    </div>
</div>




  <!-- Modal -->
  
  <div class="modal fade" id="deleteBoardConfirmationModal{{boardId}}" tabindex="-1" aria-labelledby="deleteBoardConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="deleteBoardConfirmationModalLabel">
            Are you sure you want to delete board "{{currentBoardName}}"?
        </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <b class="text-danger">This action is irreversible. </b>
          All board's tasks will be deleted as well.
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-btn cancel-btn " data-bs-dismiss="modal">No</button>
          <button type="button" class="modal-btn btn btn-danger" (click)="delete(currentBoard)" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
