<div class="board-details-container">
    <div class="board-details-heading">
        <h4>Sports</h4>
    </div>
    <div class="row mt-3 ps-3">
        <div class="board-members col-4 ms-3">
            <div class="board-members-heading">
                <h5 class="pt-2 pb-1">Board Members</h5>
            </div>
        

              <div class="card mb-2" >
                <div class="card-body task-card">
                  <div class="task-board">
                    Creator
                  </div>
                  <div class="task-container">
                    <div class="task-content">
                      <a href="#" class="card-link">Diana Levchenko</a>
                    </div>
                      <div class="task-delete-button">
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                  </div>
                  <div class="task-due">
                    dianyaA@mail.ru
                  </div>
                </div>
              </div>

              
              <div class="card mb-2" >
                <div class="card-body task-card">
                  <div class="task-board">
                    Member
                  </div>
                  <div class="task-container">
                    <div class="task-content">
                      <a href="#" class="card-link">Dastan Abishev</a>
                    </div>
                      <div class="task-delete-button">
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                  </div>
                  <div class="task-due">
                    BIBIS'KA@mail.ru
                  </div>
                </div>
              </div>


              <div class="card mb-2" >
                <div class="card-body task-card">
                  <div class="task-board">
                    Member
                  </div>
                  <div class="task-container">
                    <div class="task-content">
                      <a href="#" class="card-link">Adele Abisheva</a>
                    </div>
                      <div class="task-delete-button">
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                  </div>
                  <div class="task-due">
                    Dianya_BIS'KA@mail.ru
                  </div>
                </div>
              </div>

              <button type="button" class="add-new-btn add-new-member-btn btn btn-secondary">Add new+</button>

        </div>

        <div class="tasks col-7">

            <div class="add-new-task-btn-container pe-3">
                <button type="button" class="mt-1 mb-1 add-new-task-btn add-new-btn btn btn-secondary">Add new+</button>
            </div>
               
            <div class="tasks-container ps-3">


                <div class="card mb-2" >
                    <div class="card-body task-card">
                      <div class="task-board">
                        Sports
                      </div>
                      <div class="task-container">
                        <div class="task-content">
                          <a href="#" class="card-link">Jog</a>
                        </div>
                          <div class="task-delete-button">
                            <button type="button" class="btn btn-danger">Delete</button>
                          </div>
                      </div>
                      <div class="task-due">
                        Due 05.05.2023
                      </div>
                    </div>
                  </div>


                  <div class="card mb-2" >
                    <div class="card-body task-card">
                      <div class="task-board">
                        Sports
                      </div>
                      <div class="task-container">
                        <div class="task-content">
                          <a href="#" class="card-link">Jog</a>
                        </div>
                          <div class="task-delete-button">
                            <button type="button" class="btn btn-danger">Delete</button>
                          </div>
                      </div>
                      <div class="task-due">
                        Due 05.05.2023
                      </div>
                    </div>
                  </div>
    
            </div>

                
    

            
        </div>
    </div>
    
    

</div>