.no-items {
  /* width: 200px; */
  /* height: 100px; */
  background-color: white;
  color: darkgray;
  font-size: 15px;
  font-style: italic;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 20px;
}

.process-status-message p{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 7px;
}

/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { /* width */
  width: 12px;
}

::-webkit-scrollbar-track { /* Track */
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 5px; */
  background-color: var(--scrollbar-track-color);
}
 
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-track-color); 
}

::-webkit-scrollbar-thumb { /* Handle */
  box-shadow: inset 0 0 5px var(--scrollbar-thumb-box-shadow-color);
  background: var(--scrollbar-thumb-color); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px var(--scrollbar-thumb-box-shadow-color);
}


  .leave-button:hover {
    color: var(--leave-icon-color);
}

.leave-button:focus {
    border:none;
}


.delete-button:focus{
    border:none;
}


.delete-button:hover {
    color: var(--delete-icon-color);
}
  
/*go back link: used at forgot&reset password*/
  .back-link{
    position: fixed;
    bottom: 40px;
    left: 50px;
}
/*reset button styles*/
button {
  display: inline-block;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: var(--confirm-text-color); /* Default text color */
}


/*Add new styled button*/
.add-new-btn{
  background-color: var(--add-new-color);
  border: var(--add-new-border);
  border-radius: 20px;
  color: var(--add-new-text-color);
}

.group-by-btn {
  border-radius: 3px  3px  3px 3px ;
  color: black;
  /* color: lightgray; */
  font-size: small;
}

.group-by-btn:hover {

  background-color: #f2f2f2;
  border-radius: 3px  3px  3px 3px ;
  color: black;
  font-size: small;
}


.group-by-btn:active, .group-by-btn.active{
  background-color: #f2f2f2;
  border-radius: 3px  3px  3px 3px ;
  color: var(--primary-color);
  font-size: small;
}

.add-new-btn:disabled{
  background-color: var(--add-new-color-disabled );
  color: var(--add-new-text-color-disabled);
  border: var(--add-new-border-disabled) ;
  cursor: default;
  pointer-events: none;
}

.add-new-btn:hover{
  background-color: var(--add-new-color-hover);
  color: var(--add-new-text-color-hover);
  border: var(--add-new-border-hover);
}

.add-new-btn:active{
  background-color: var(--add-new-color-active);
  color: var(--add-new-text-color-active);
  border: var(--add-new-border-active);
}
/* .add-new-btn.focus{
  background-color: #535050;
} */


/*restyling modal*/
.btn.modal-btn {
  border-radius: 0;
  border: none;
}

.modal-content {
  border-radius: 0;
}


.confirm-btn{
  background-color:var(--confirm-color);
  color: var(--confirm-text-color);
  border: var(--confirm-border);
}

.confirm-btn:disabled, .confirm-btn:disabled:hover,.confirm-btn:disabled:active{
  background-color:var(--confirm-color-disabled);
  color: var(--confirm-text-color-disabled);
  border: var(--confirm-border-disabled);
  cursor:default;
}


.confirm-btn:hover{
  background-color:var(--confirm-color-hover);
  color: var(--confirm-text-color-hover);
  border: var(--confirm-border-hover);
}

.confirm-btn:active {
  background-color: var(--confirm-color-active);
  color: var(--confirm-text-color-active);
  border: var(--confirm-border-active);
}


/* .confirm-btn:focus{
  background-color:#535050;
} */

.cancel-btn{
  background-color:var(--cancel-color) ;
  color:var(--cancel-text-color) ;
  border: var(--cancel-border);
}

.cancel-btn:hover{
  background-color:var(--cancel-color-hover);
  color:var(--cancel-text-color-hover) ;
  border: var(--cancel-border-hover);
}

.cancel-btn:active{
  background-color:var(--cancel-color-active);
  color:var(--cancel-text-color-active) ;
  border: var(--cancel-border-active);
}


/* .cancel-btn:focus{
  background-color:#a5a5a5;
} */


/*LOADING-Like containers*/

.process-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  height: 75vh;
}

.process-status-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  height: 60%;
}


.process-status-message h1 {
  color: var(--primary-color);
}

/*styled heading at home page*/
.st-heading{
  border-top: 5px solid var(--home-heading-border-top-color);
  background-color: var(--home-heading-bg-color);
  padding-top: 2px;
  padding-bottom: 0.5px;
}

.st-heading > *{
  margin-left: 10vw;
  color: var(--home-heading-text-color);
}

.calendar-search-btn{
  border-radius: 0.35rem;
}

body{
  background-color: var(--background-color);
}

/*all inputs in modals*/
input.form-control, select.form-control{
  border: var(--modal-input-border);
}


/* restyling bootstrap colors */

.btn-outline-primary {
  color: var(--primary-color) ;
  border-color: var(--primary-color) ;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--primary-btn-focused-text-color);               
  background-color: var(--primary-color) ;   
  border-color: var(--primary-color) ;        
}

.btn-outline-primary:disabled {
  
  color: var(--primary-disabled-color);               
  border-color: var(--primary-disabled-color);        
}

.logout-btn.btn-outline-danger {
  color: var(--logout-danger-color) ;
  border-color: var(--logout-danger-color) ;
}

.logout-btn.btn-outline-danger:hover {
  color: var(--logout-danger-btn-focused-text-color) ;               
  background-color: var(--logout-danger-color) ;   
  border-color: var(--logout-danger-color) ;        
}
.logout-btn.btn-outline-danger:active {
  color: var(--logout-danger-btn-active-text-color) ;               
  background-color: var(--logout-danger-color) ;   
  border-color: var(--logout-danger-color) ;        
}


/* custom primary links*/
a.primary-link {
  color: var(--primary-color);
}

a.primary-link:hover{
  color: var(--primary-color-hover);
}


/* Style for the custom checkbox */
.custom-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 28px; 
  margin-bottom: 12px; 
  cursor: pointer;
  font-size: 16px; 
}

/* Hiding default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Styling the custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; 
  width: 20px; 
  background-color: #eee; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

/* checked state */
.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color); /* Change color when checked */
}

/* checkmark  */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Position and style the checkmark */
.custom-checkbox .checkmark:after {
  left: 6px; 
  top: 2px;
  width: 5px; 
  height: 10px; 
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

label.custom-checkbox {
 color: gray;
}

/*theming*/

/* .cold-blue-theme { */
  /* :root{
  --primary-color: #4682B4;
  --primary-color-hover: #386890;

  --st-members-bg: white;
  --st-members-shadow: #B4B9C0;
  --background-color: white;


  --add-new-color: #D5D5D5;
  --add-new-text-color: #000000;
  --add-new-color-hover: #AEC8E8;
  --add-new-text-color-hover: #FFFFF0;
  --add-new-color-active: #B0C4DE;
  --add-new-text-color-active: #FFFFF0;

  --add-new-border: thin solid #C0C0C0;
  --add-new-border-hover:thin solid #4682B4;
  --add-new-border-active:thin solid #778899;


  --confirm-color: #C6DFFD;
  --confirm-text-color: #001F3F;
  --confirm-color-hover: #87CEFA;
  --confirm-text-color-hover: #FFFFF0;
  --confirm-color-active: #B0E0E6;
  --confirm-text-color-active: #FFFFF0;
  --confirm-color-disabled: #D3D3D3;
  --confirm-text-color-disabled: #696969;

  --confirm-border:thin solid #B0C4DE;
  --confirm-border-hover:thin solid #6495ED;
  --confirm-border-active:thin solid #778899;
  --confirm-border-disabled:thin solid #DCDCDC;


  --cancel-color: #FFE4E1;
  --cancel-text-color: #A30000;
  --cancel-color-hover: #F08080;
  --cancel-text-color-hover: #FFFFF0;
  --cancel-color-active: #BC8F8F;
  --cancel-text-color-active: #FFFFF0;

  --cancel-border:thin solid #F08080;
  --cancel-border-hover:thin solid #CD5C5C;
  --cancel-border-active:thin solid #B22222;


  --navbar-and-scrollbar-track-color: #E1E8F0;
  --navbar-logo-color: #333333;
  --navbar-logo-subtitle-color: #333333;

  --scrollbar-thumb-color: #D3D3D3;
  --scrollbar-thumb-box-shadow-color: #A49F9F;

  --home-heading-bg-color: #B4B9C0;
  --home-heading-border-top-color:#333333;
  --home-heading-text-color: white;

  --sidebar-navlink: grey;
  --sidebar-navlink-active: #333333;

  --modal-input-border: thin solid lightgray;
}  */

:root{
  --logout-danger-color: #dc3545;
  --logout-danger-btn-focused-text-color: white;
  --logout-danger-btn-active-text-color: white;

  --leave-icon-color: blue;
  --delete-icon-color:red;
}

.coldblue-theme {
  --primary-color: #4682B4;
  --primary-color-hover: #386890;
  --primary-disabled-color: #6c757d;
  --primary-btn-focused-text-color: white;



  --st-members-bg: white;
  --st-members-shadow: #B4B9C0;
  --background-color: white;


  --add-new-color: #D5D5D5;
  --add-new-text-color: #000000;
  --add-new-color-hover: #AEC8E8;
  --add-new-text-color-hover: #FFFFF0;
  --add-new-color-active: #B0C4DE;
  --add-new-text-color-active: #FFFFF0;
  --add-new-color-disabled: #cedef1;
  --add-new-text-color-disabled:#f3f6f4;
  

  --add-new-border: thin solid #C0C0C0;
  --add-new-border-hover:thin solid #4682B4;
  --add-new-border-active:thin solid #778899;
  --add-new-border-disabled:thin solid #d6e3f3  ;


  --confirm-color: #C6DFFD;
  --confirm-text-color: #001F3F;
  --confirm-color-hover: #87CEFA;
  --confirm-text-color-hover: #FFFFF0;
  --confirm-color-active: #B0E0E6;
  --confirm-text-color-active: #FFFFF0;
  --confirm-color-disabled: #D3D3D3;
  --confirm-text-color-disabled: #696969;

  --confirm-border:thin solid #B0C4DE;
  --confirm-border-hover:thin solid #6495ED;
  --confirm-border-active:thin solid #778899;
  --confirm-border-disabled:thin solid #DCDCDC;


  --cancel-color: #FFE4E1;
  --cancel-text-color: #A30000;
  --cancel-color-hover: #F08080;
  --cancel-text-color-hover: #FFFFF0;
  --cancel-color-active: #BC8F8F;
  --cancel-text-color-active: #FFFFF0;

  --cancel-border:thin solid #F08080;
  --cancel-border-hover:thin solid #CD5C5C;
  --cancel-border-active:thin solid #B22222;


  /* --navbar-color:  linear-gradient(to right, #F0F4F8, #E1E8F0);;
  --scrollbar-track-color: #E1E8F0; */
  --navbar-color:  linear-gradient(to right, #E1E8F0, #F0F4F8);;
  --scrollbar-track-color: #F0F4F8;
  --navbar-logo-color: #333333;
  --navbar-logo-subtitle-color: #333333;

  --scrollbar-thumb-color: #D3D3D3;
  --scrollbar-thumb-box-shadow-color: #A49F9F;

  --home-heading-bg-color: #B4B9C0;
  --home-heading-border-top-color:#333333;
  --home-heading-text-color: white;

  --sidebar-navlink: grey;
  --sidebar-navlink-active: #333333;

  --modal-input-border: thin solid lightgray;

  --notification-border-color:#cfe2f3;
}

.default-theme{
  --primary-color: #007BFF;
  --primary-disabled-color: #6c757d;
  --primary-color-hover: #386890;
  --primary-btn-focused-text-color: white;

 /* --st-members-bg: #f2f0f0; */
 --st-members-bg: none;
 --st-members-shadow: #a49f9f;

 --background-color: white;

 --add-new-color: #7b7777;
 --add-new-text-color: #f2f0f0;
 --add-new-color-hover: #676464;
 --add-new-text-color-hover: #f2f0f0;
 --add-new-color-active: #525050;
 --add-new-text-color-active: #f2f0f0;
 --add-new-color-disabled: #bbbbbb;
 --add-new-text-color-disabled: #ececec;
 

 --add-new-border:none;
 --add-new-border-hover:none;
 --add-new-border-active:none;
 --add-new-border-disabled:none;


 --confirm-color: #7b7777;
 --confirm-text-color: white;
 --confirm-color-hover: #676464;
 --confirm-text-color-hover: white;
 --confirm-color-active: #525050;
 --confirm-text-color-active: white;
 --confirm-color-disabled: #858181;
 --confirm-text-color-disabled: #696969;

 --confirm-border:none;
 --confirm-border-hover:none;
 --confirm-border-active:none;
 --confirm-border-disabled:none;

 --cancel-color: #CCCCCC;
 --cancel-text-color: white;
 --cancel-color-hover: #b8b8b8;
 --cancel-text-color-hover: white;
 --cancel-color-active: #a5a5a5;
 --cancel-text-color-active: white;

 
 --cancel-border:none;
 --cancel-border-hover:none;
 --cancel-border-active:none;

 --navbar-color: #212529;
 --scrollbar-track-color: #212529;
 --navbar-logo-color: white;
 --navbar-logo-subtitle-color: #d1d0d0;

 --scrollbar-thumb-color: black;
 --scrollbar-thumb-box-shadow-color: #A49F9F;

 --home-heading-bg-color: #cec7c7;
 --home-heading-border-top-color:black;
 --home-heading-text-color: white;

 --sidebar-navlink: grey;
 --sidebar-navlink-active: #FFFFFF;

 --modal-input-border: thin solid lightgray;

 --notification-border-color:#aba9a9;
}


.barbie-theme {
  --primary-color: #E63995;
  --primary-disabled-color: #FFBCD9;
  --primary-color-hover: #B82D77;
  --primary-btn-focused-text-color: white;

  --leave-icon-color: #DA70D6;
  --delete-icon-color:#E63995;

  --logout-danger-color: white;
  /* --logout-danger-btn-hover-color: white; */
  --logout-danger-btn-focused-text-color: #B82D77;
  --logout-danger-btn-active-text-color: #801F53;

  --st-members-bg: white;
  --st-members-shadow: #FFBCD9;
  --background-color: white;


  --add-new-color: #FFD1DC;
  --add-new-text-color: #DA70D6;
  --add-new-color-hover: #FFB6C1;
  --add-new-text-color-hover: #FFFFF0;
  --add-new-color-active: #FFF0F5;
  --add-new-text-color-active: #FFFFF0;
  --add-new-color-disabled: #ffd3d9;
  --add-new-text-color-disabled: #FFFFF0;
  
  --add-new-border: thin solid #FFB6C1;
  --add-new-border-hover:thin solid #BA55D3;
  --add-new-border-active:thin solid #D8BFD8;
  --add-new-border-disabled: thin solid #ebdfeb;


  --confirm-color: #E63995;
  --confirm-text-color: #FFFFF0;
  --confirm-color-hover: #C71585;
  --confirm-text-color-hover: #FFFFF0;
  --confirm-color-active: #9932CC;
  --confirm-text-color-active: #FFFFF0;
  --confirm-color-disabled: #FFE4E1;
  --confirm-text-color-disabled: #DB7093;

  --confirm-border:thin solid #C71585;
  --confirm-border-hover:thin solid #9932CC;
  --confirm-border-active:thin solid #663399;
  --confirm-border-disabled:thin solid #F08080;


  --cancel-color: #FFBCD9;
  --cancel-text-color: #FF1493;
  --cancel-color-hover: #F08080;
  --cancel-text-color-hover: #FFFFF0;
  --cancel-color-active: #FFA07A;
  --cancel-text-color-active: #FFFFF0;

  --cancel-border:thin solid #F08080;
  --cancel-border-hover:thin solid #CD5C5C;
  --cancel-border-active:thin solid #FA8072;


  --navbar-color: linear-gradient(to right, #F36EA0, #E63995);
  --scrollbar-track-color: #E63995;
  --navbar-logo-color: #FFFFF0;
  --navbar-logo-subtitle-color: #FFFFF0;

  --scrollbar-thumb-color: #FFF0F5;
  --scrollbar-thumb-box-shadow-color: #D8BFD8;
  /* Hover State for thistle: #D8BFD8 */

  --home-heading-bg-color: #FFBCD9;
  --home-heading-border-top-color:#333333;
  --home-heading-text-color: white;


  --sidebar-navlink: #FFBCD9;
  --sidebar-navlink-active: #FFFFF0;

  --modal-input-border: thin solid #FFBCD9;

  --notification-border-color: #C71585;
}

/* .styled-leave-icon{

}

.styled-leave-icon:hover{
  
}

.styled-delete-icon{

}

.styled-delete-icon :hover{
  
} */
