/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar { /* width */
    width: 15px;
  }
  
::-webkit-scrollbar-track { /* Track */
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 5px; */
    background-color: var(--navbar-and-scrollbar-track-color);
  }
   
  
  ::-webkit-scrollbar-thumb { /* Handle */
    box-shadow: inset 0 0 5px var(--scrollbar-thumb-box-shadow-color);
    background: var(--scrollbar-thumb-color); 
    border-radius: 5px;
  }
  
/*go back link: used at forgot&reset password*/
  .back-link{
    position: fixed;
    bottom: 40px;
    left: 50px;
}
/*reset button styles*/
button {
  display: inline-block;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: var(--confirm-text-color); /* Default text color */
}


/*Add new styled button*/
.add-new-btn{
  background-color: var(--add-new-color);
  border: var(--add-new-border);
  border-radius: 20px;
  color: var(--add-new-text-color);
  border: var(--add-new-border);
}

.add-new-btn:hover{
  background-color: var(--add-new-color-hover);
  color: var(--add-new-text-color-hover);
  border: var(--add-new-border-hover);
}

.add-new-btn:active{
  background-color: var(--add-new-color-active);
  color: var(--add-new-text-color-active);
  border: var(--add-new-border-active);
}
/* .add-new-btn.focus{
  background-color: #535050;
} */


/*restyling modal*/
.btn.modal-btn {
  border-radius: 0;
  border: none;
}

.modal-content {
  border-radius: 0;
}


.confirm-btn{
  background-color:var(--confirm-color);
  color: var(--confirm-text-color);
  border: var(--confirm-border);
}

.confirm-btn:disabled, .confirm-btn:disabled:hover,.confirm-btn:disabled:active{
  background-color:var(--confirm-color-disabled);
  color: var(--confirm-text-color-disabled);
  border: var(--confirm-border-disabled);
  cursor:default;
}


.confirm-btn:hover{
  background-color:var(--confirm-color-hover);
  color: var(--confirm-text-color-hover);
  border: var(--confirm-border-hover);
}

.confirm-btn:active {
  background-color: var(--confirm-color-active);
  color: var(--confirm-text-color-active);
  border: var(--confirm-border-active);
}


/* .confirm-btn:focus{
  background-color:#535050;
} */

.cancel-btn{
  background-color:var(--cancel-color) ;
  color:var(--cancel-text-color) ;
  border: var(--cancel-border);
}

.cancel-btn:hover{
  background-color:var(--cancel-color-hover);
  color:var(--cancel-text-color-hover) ;
  border: var(--cancel-border-hover);
}

.cancel-btn:active{
  background-color:var(--cancel-color-active);
  color:var(--cancel-text-color-active) ;
  border: var(--cancel-border-active);
}


/* .cancel-btn:focus{
  background-color:#a5a5a5;
} */


/*LOADING-Like containers*/

.process-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  height: 75vh;
}

.process-status-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  height: 60%;
}


.process-status-message h1 {
  color: var(--primary-color);
}

/*styled heading at home page*/
.st-heading{
  border-top: 5px solid var(--home-heading-border-top-color);
  background-color: var(--home-heading-bg-color);
  padding-top: 2px;
  padding-bottom: 0.5px;
}

.st-heading > *{
  margin-left: 10vw;
  color: var(--home-heading-text-color);
}

.calendar-search-btn{
  border-radius: 0.35rem;
}

body{
  background-color: var(--background-color);
}

/*all inputs in modals*/
input.form-control, select.form-control{
  border: var(--modal-input-border);
}


/*theming*/

 :root {
  --primary-color: #4682B4;
  --primary-color-hover: #4682B4;

  --st-members-bg: white;
  --st-members-shadow: #B4B9C0;
  --background-color: white;


  --add-new-color: #D5D5D5;
  --add-new-text-color: #000000;
  --add-new-color-hover: #AEC8E8;
  --add-new-text-color-hover: #FFFFF0;
  --add-new-color-active: #B0C4DE;
  --add-new-text-color-active: #FFFFF0;

  --add-new-border: thin solid #C0C0C0;
  --add-new-border-hover:thin solid #4682B4;
  --add-new-border-active:thin solid #778899;


  --confirm-color: #C6DFFD;
  --confirm-text-color: #001F3F;
  --confirm-color-hover: #87CEFA;
  --confirm-text-color-hover: #FFFFF0;
  --confirm-color-active: #B0E0E6;
  --confirm-text-color-active: #FFFFF0;
  --confirm-color-disabled: #D3D3D3;
  --confirm-text-color-disabled: #696969;

  --confirm-border:thin solid #B0C4DE;
  --confirm-border-hover:thin solid #6495ED;
  --confirm-border-active:thin solid #778899;
  --confirm-border-disabled:thin solid #DCDCDC;


  --cancel-color: #FFE4E1;
  --cancel-text-color: #A30000;
  --cancel-color-hover: #F08080;
  --cancel-text-color-hover: #FFFFF0;
  --cancel-color-active: #BC8F8F;
  --cancel-text-color-active: #FFFFF0;

  --cancel-border:thin solid #F08080;
  --cancel-border-hover:thin solid #CD5C5C;
  --cancel-border-active:thin solid #B22222;


  --navbar-and-scrollbar-track-color: #E1E8F0;
  --navbar-logo-color: #333333;
  --navbar-logo-subtitle-color: #333333;

  --scrollbar-thumb-color: #D3D3D3;
  --scrollbar-thumb-box-shadow-color: #A49F9F;

  --home-heading-bg-color: #B4B9C0;
  --home-heading-border-top-color:#333333;
  --home-heading-text-color: white;

  --sidebar-navlink: grey;
  --sidebar-navlink-active: #333333;

  --modal-input-border: thin solid lightgray;
} 



/* :root { 
   --primary-color: #007BFF;
  --st-members-bg: #f2f0f0;
  --st-members-shadow: #a49f9f;
  --background-color: white;
  --add-new-color: #7b7777;
  --add-new-text-color: #f2f0f0;
  --add-new-color-hover: #676464;
  --add-new-text-color-hover: #f2f0f0;
  --add-new-color-active: #525050;
  --add-new-text-color-active: #f2f0f0;
  
  --add-new-border:none;
  --add-new-border-hover:none;
  --add-new-border-active:none;


  --confirm-color: #7b7777;
  --confirm-text-color: white;
  --confirm-color-hover: #676464;
  --confirm-text-color-hover: white;
  --confirm-color-active: #525050;
  --confirm-text-color-active: white;
  --confirm-color-disabled: #858181;

  --confirm-border:none;
  --confirm-border-hover:none;
  --confirm-border-active:none;

  --cancel-color: #CCCCCC;
  --cancel-text-color: white;
  --cancel-color-hover: #b8b8b8;
  --cancel-text-color-hover: white;
  --cancel-color-active: #a5a5a5;
  --cancel-text-color-active: white;

  
  --cancel-border:none;
  --cancel-border-hover:none;
  --cancel-border-active:none;

  --navbar-and-scrollbar-track-color: #212529;
  --navbar-logo-color: white;
  --navbar-logo-subtitle-color: #d1d0d0;

  --scrollbar-thumb-color: black;
  --scrollbar-thumb-box-shadow-color: #A49F9F;

  --home-heading-bg-color: #cec7c7;
  --home-heading-border-top-color:black;
  --home-heading-text-color: white;

  --sidebar-navlink: grey;
  --sidebar-navlink-active: #FFFFFF;

  --modal-input-border: thin solid lightgray;
 
}  */